<template>
<div class="login-container">
    <div class="login-card">
        <div>
            <input v-model="username"/>
            <input v-model="password"/>
        </div>
        <button @click="handleSignIn()">
            Login
        </button>
    </div>
</div>
</template>
<script>
import { signIn } from '../../api/index'
export default {
    data () {
        return {
            username: '',
            password: ''
        }
    },
    methods: {
        async handleSignIn () {
            await signIn(this.username, this.password)
            this.$router.push({name: 'products'})
        }
    }
}
</script>
<style>
</style>
