<template>
  <div>
    <input v-model="name" type="text">
    <input v-model="email" type="text">
    <input v-model="password" type="text">
    <input v-model="passwordConfirmation" type="text">

    <button @click="handleUpdateProfile()">update</button>
  </div>
</template>
<script>

export default {
    data () {
        return {
            email: '',
            name: '',
            password: 'Aq#S3cr3t!!',
            passwordConfirmation: 'Aq#S3cr3t!!'
        }
    },
    mounted () {
      this.handleGetProfile()
    },
    methods: {
      handleUpdateProfile () {
          let user = JSON.parse(localStorage.getItem('user'));
          const requestOptions = {
              method: 'PUT',
              headers: {'Authorization': 'Bearer ' + user.accessToken	, 'Content-Type': 'application/json', "Accept": "application/json" },
              body: JSON.stringify({
                name: this.name,
                email: this.email,
                password: this.password,
                password_confirmation: this.passwordConfirmation
              })
          }
          return fetch(`https://assessment.7apps.nl/api/profile`, requestOptions)
          .then(response => console.log(response))
      },
      handleGetProfile () {
          let user = JSON.parse(localStorage.getItem('user'));
          const requestOptions = {
              method: 'GET',
              headers: {'Authorization': 'Bearer ' + user.accessToken	, 'Content-Type': 'application/json' }
          }
          return fetch(`https://assessment.7apps.nl/api/profile`, requestOptions)
          .then(response => response.json())
          .then(json => {
            this.email = json.email
            this.name = json.name
          });
      }
    }
}
</script>
<style>
</style>
