<template>
  <div>
    <md-card style="margin: 20px">
      <div class="md-layout md-gutter">
      <div class="md-layout-item md-small-size-100">
        <md-field>
          <label for="name">Name</label>
          <md-input name="name" id="name" v-model="product.name"/>
        </md-field>
        <md-field>
          <label for="description">Description</label>
          <md-input name="description" id="description" v-model="product.description"/>
        </md-field>
        <md-field>
          <label for="description">Price</label>
          <md-input name="description" id="description" v-model="product.price"/>
        </md-field>
        <md-field>
          <label for="description">Stock</label>
          <md-input name="description" id="description" v-model="product.stock.id"/>
        </md-field>
        <div @click="$emit('create', product)">Create new product</div>
      </div>
      </div>
    </md-card>
  </div>
</template>
<script>

export default {
  data () {
    return {
      product: {
        name: '',
        description: '',
        price: '',
        stock: {
          id: ''
        }
      }
    }
  }
}
</script>
<style>
</style>
