<template>
<div>
  <div class="product-list">
    <product-card v-for="product in products" :key="product.id" :product="product" @edit="openEditProduct" @delete="deleteProduct" />
    <create-product @create="createProduct"/>
  </div>
  <md-dialog :md-active.sync="showEditDialog">
      <md-dialog-title>Edit Product</md-dialog-title>
      <md-dialog-content>
           <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label for="name">Name</label>
                <md-input name="name" id="name" v-model="editProduct.name"/>
              </md-field>
              <md-field>
                <label for="description">Description</label>
                <md-input name="description" id="description" v-model="editProduct.description"/>
              </md-field>
              <md-field>
                <label for="description">Price</label>
                <md-input name="description" id="description" v-model="editProduct.price"/>
              </md-field>
              <md-field>
                <label for="description">Stock</label>
                <md-input name="description" id="description" v-model="editProduct.stock.id"/>
              </md-field>
            </div>
           </div>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="showEditDialog = false">Close</md-button>
        <md-button class="md-primary" @click="showEditDialog = false, updateProduct(editProduct)">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
</div>
</template>
<script>
import ProductCard from './product-card'
import CreateProduct from './create-product'
import { getProducts, createProduct } from '../../api/index'
export default {
    data () {
        return {
            showEditDialog: false,
            products: [],
            editProduct: {
              name: '',
              description: '',
              price: '',
              stock: '1'
            },
            newProduct: {
              name: 'Test product',
              description: 'test',
              price: '20',
              stock: '1'
            }
        }
    },
    components: {
      ProductCard,
      CreateProduct
    },
    mounted () {
      this.handleGetProducts()
    },
    methods: {
      handleGetProducts () {
        getProducts().then(resp => {
          this.products = resp
        })
      },
      handleCreateProduct (product) {
        return createProduct(product)
      },
      handleDeleteProduct (product) {
          let user = JSON.parse(localStorage.getItem('user'));
          const requestOptions = {
            method: 'DELETE',
            headers: {'Authorization': 'Bearer ' + user.accessToken	, 'Content-Type': 'application/json' },
          }
          return fetch(`https://assessment.7apps.nl/api/products/${product.id}`, requestOptions)
      },
      handleUpdateProduct(product) {
          console.log('product', product)
          let user = JSON.parse(localStorage.getItem('user'));
          const url = new URL(
              `https://assessment.7apps.nl/api/products/${product.id}`
          );
          const params = {
              productId: product.id,
            }
          Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));
          const requestOptions = {
            method: 'PUT',
            headers: {'Authorization': 'Bearer ' + user.accessToken	, 'Content-Type': 'application/json' },

            body: JSON.stringify({
              name: product.name,
              description: product.description,
              price: product.price,
              stock_id: product.stock.id
            })
          }
          return fetch(url, requestOptions)
          .then(response => console.log(response)) 
      },
      async createProduct (product) {
        console.log('product', product)
        await this.handleCreateProduct(product)
        await this.handleGetProducts()
      },
      async deleteProduct (product) {
        await this.handleDeleteProduct(product)
        await this.handleGetProducts()
      },
      async updateProduct (product) {
        await this.handleUpdateProduct(product)
        await this.handleGetProducts()
      },
      openEditProduct(product) {
        this.showEditDialog = true
        this.editProduct = {...product}
      },
    }
}
</script>
<style>
.product-item{
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid black;
}
</style>