<template>
      <md-card style="margin: 20px">
        <md-card-content>
        <div>
          {{product.name}}
        </div>
        <div>
          {{product.description}}
        </div>
        <div>
          {{product.price}}
        </div>
        <div>
          {{product.stock.name}}
        </div>
        </md-card-content>
        <md-card-actions>
          <md-button @click="$emit('edit', product)" class="md-primary">Edit Product</md-button>
          <md-button @click="$emit('delete', product)" class="md-accent">Delete Product</md-button>
        </md-card-actions>
      </md-card>
</template>
<script>
export default {
    props: {
      product: Object
    }
}
</script>
