<template>
  <div>
     <nav class="navbar">
        <ul class="hoz-menu">
            <li>
                <router-link :to="{name: 'profile'}">Profile</router-link>
            </li>
            <li>
                <router-link :to="{name: 'products'}">Products</router-link>
            </li>
        </ul>
    </nav>
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'application',
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
<style>
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 0 20px;
}
.hoz-menu {
  padding: 0;
  display: flex;
}
.hoz-menu li{
  list-style: none;
  padding-right: 10px;
}
.hoz-menu li a{
  color: white;
  text-decoration: none;
}
</style>
