<template>
  <div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'auth',
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
<style>

</style>
